.div-skills-list {
    background: var(--Light-accent, #BCDFD1);
    padding: 40px 0px;
    align-items: center;
    gap: 16px;
    position: relative;
    z-index: 10;
    height: 128px;
    display: inline-flex;
    width: 100%;
}

.div-skills-list-two {
    background: var(--Light-grey, #E4E5E6);
    padding: 40px 0px;
    align-items: center;
    gap: 16px;
    transform: rotate(3deg);
    height: 128px;
    display: inline-flex;
    width: 100%;
}

.ul-tech-skills {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 40px 0px;
    align-items: center;
    gap: 40px;
}

.ul-tech-skills-two {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 40px 0px;
    align-items: center;
    gap: 40px;
}

.ul-tech-skills-two:first-child {
    margin-left: 40px;
}

.li-tech-skills {
    color: var(--Black, #292929);
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-wrap: nowrap;
}

.ul-tech-skills:first-child {
    margin-left: 40px;
}

.li-tech-skills-two {
    color: var(--Accet-green, #00B068);
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-wrap: nowrap;
}

.li-tech-skills::before {
    content: "";
    position: absolute;
    border-radius: 2px;
    background: var(--Accet-green, #00B068);
    height: 8px;
    width: 8px;
    margin-top: 17px;
    margin-left: -21px;
}

.li-tech-skills-two::before {
    content: "";
    position: absolute;
    border-radius: 2px;
    background: var(--Black, #292929);
    height: 8px;
    width: 8px;
    margin-top: 17px;
    margin-left: -21px;
}

.tech-skills {
    height: 258px;
}

.ribbon {
    margin: 0 !important;
    overflow: hidden;
    /* background: var(--White, #F0F0F0); */
}

.ul-tech-skills {
    animation-name: livingGallery;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.ul-tech-skills-two {
    animation-name: livingGallery;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes livingGallery {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-103%, 0);
    }
}

.mg-left-20 {
    margin-left: 20px;
}


/* dark theme */

.night-mode .ribbon-dark {
    background: #1E2023;
    margin: 0 !important;
    overflow: hidden;
}

.night-mode .div-tech-dark {
    background: #214136;
    padding: 40px 0px;
    align-items: center;
    gap: 16px;
    position: relative;
    z-index: 10;
    height: 128px;
    display: inline-flex;
    width: 100%;
}

.night-mode .div-tech-dark-two {
    background: #2A2D32;
    padding: 40px 0px;
    align-items: center;
    gap: 16px;
    transform: rotate(3deg);
    height: 128px;
    display: inline-flex;
    width: 100%;
}

.night-mode .tech-dark {
    color: #F0F0F0;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.night-mode .tech-dark::before {
    content: "";
    position: absolute;
    border-radius: 2px;
    background: #14C57C;
    height: 8px;
    width: 8px;
    margin-top: 17px;
    margin-left: -21px;
}

.night-mode .tech-dark-two {
    color: #14C57C;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

body.night-mode .tech-dark-two::before {
    content: "";
    position: absolute;
    border-radius: 2px;
    background: #F0F0F0;
    height: 8px;
    width: 8px;
    margin-top: 17px;
    margin-left: -21px;
}

/* media screen */

@media screen and (min-width: 360px) {
    .div-skills-list {
        height: 104px;
    }

    .div-skills-list-two {
        height: 104px;
        transform: rotate(4deg);
    }

    .li-tech-skills {
        font-size: 32px;
        line-height: 40px;
    }

    .li-tech-skills-two {
        font-size: 32px;
        line-height: 40px;
    }

    .li-tech-skills::before {
        margin-left: -22px;
    }

    .li-tech-skills-two::before {
        margin-left: -22px;
    }

    .night-mode .tech-dark {
        font-size: 32px;
        line-height: 40px;
    }

    .night-mode .tech-dark-two {
        font-size: 32px;
        line-height: 40px;
    }

    .night-mode .tech-dark::before {
        margin-left: -22px;
    }

    .night-mode .tech-dark-two::before {
        margin-left: -22px;
    }
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1280px) {}



/* section menu */

.menu-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.4);
    transform: translateX(0);
    transition: 1s cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 12;
}

.modal-title {
    font-family: Impact;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-left: 20px;
}

.modal-title-green {
    color: #00b068;
}

.night-mode .modal-title-green {
    color: #14c57c;
}

.menu-container {
    width: 100vh;
    height: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    justify-content: flex-start;
}

.div-nav-menu {
    background: url(../img/11-modal-window/backMenu.png) no-repeat;
}

.head-menu {
    width: 360px;
    height: 64px;
    position: relative;
}

.menu-nav-list {
    padding-top: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 420px;
}

.is-open {
    transform: translateX(0);
}

.menu-close-btn {
    position: absolute;
    font-family: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menu-close-icon {
    width: 32px;
    height: 32px;
    stroke: #292929;
}

.menu-nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: var(--Black, #292929);
    font-weight: 300;
    font-family: Poppins;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 24px;
}

.menu-nav-link {
    display: block;
    gap: 24px;
}

.menu-nav-item:hover,
.menu-nav-item:focus {
    color: var(--Accet-green, #00B068);
}

.menu-nav-item:active {
    color: var(--Accet-green, #00B068);
}

@media screen and (min-width: 375px) {
    .menu-backdrop {
        position: fixed;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        background: rgba(20, 20, 20, 0.4);
    }

    .menu-container {
        width: 100vw;
        height: 100svh;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        position: absolute;
        left: 50%;
        transform: translate(-50%) scale(1);

        background-color: #7a3145;
        background-color: white;
    }
}

@media screen and (min-width: 768px) {
    .menu-close-btn {
        right: 20px;
        top: 13px;
    }

    .menu-close-icon {
        width: 40px;
        height: 40px;
    }

    .menu-container {
        width: 351px;
        left: 100%;
        transform: translate(-100%);
        padding-bottom: 50px;
    }

    .menu-nav-item {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.25;
        letter-spacing: 0.02em;
        width: 120px;
        height: 44px;
    }

    /* .menu-backdrop {
    display: none;
  } */
}


@media screen and (min-width: 1280px) {
    /* .menu-backdrop {
    display: none;
  } */
}